
@font-face {
    font-family: rock ;
    src: url(/fonts/Rocks\ Personal\ Use.ttf);
}


body{
    margin: 0%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#portada{
    width: 100%;
    height: 100vh;
    display: block;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

    #reglas{
        width: 80%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 10px;
        margin-left: -200%;
        z-index: 20;
        opacity: 100%;
        background-color: red;
    }

    #iniciar{
        width: 25%;
        height: 30%;
        position: absolute;
        bottom: 10%;
        z-index: 5;
        cursor: pointer;
        /* background-color: red; */
        animation: botonJ 1s linear alternate infinite,
                    aparecerJ 1s 3s backwards ease-in;

    }

    #iniciar img{
        width: 100%;
        filter: drop-shadow(0 0 .9rem rgb(10, 151, 5));
        transition: 1s;
    }

    #iniciar:hover img{
        transform: scale(120%);
        filter: drop-shadow(0 0 .6rem rgb(60, 255, 0));
    }
    
    section{
        /* background-color: red; */
        margin-top: -10%;
        height: 100vh;
        width: 60%;
        position: relative;
    }


    #cancionFondo{
        position: absolute;
        z-index: -1;
        opacity: 0%;
    }

    #B{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        /* opacity: 50%; */
        /* background-color: red; */
        filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
        animation: aparecer 1s cubic-bezier(.73,.19,.85,.21),
                    opacidadTitulo 1s backwards cubic-bezier(1,.02,1,.24);
    }

    #G{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
        animation: aparecer 1s 1s cubic-bezier(.73,.19,.85,.21),
                    opacidadTitulo 1s 1s backwards cubic-bezier(1,.02,1,.24);
    }

    #R{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
        animation: aparecer 1s 2s cubic-bezier(.73,.19,.85,.21),
                    opacidadTitulo 1s 2s backwards cubic-bezier(1,.02,1,.24);
    }


#video{
    height: 100%;
    /* background-color: red; */
    z-index: -2;
    position: absolute;
}

#NombreUsuario{
    position: absolute;
    height: 50vh;
    width: 60%;
    /* display: none; */
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

    #NombreUsuario h1{
        font-family: rock;
        color: white;
        margin-top: 0%;
        font-size: 150px;
    }

    #espacioN{
        position: absolute;
        /* background-color: blue; */
        font-size: 20px;
        bottom:20%;
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #usuario{
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
        width: 40%;
        height: 50%;
        color: white;
        font-family: rock;
        font-size: 50px;
        background-color: transparent;
        animation: glow .5s linear infinite alternate;
    }

    #enviar{
        cursor: pointer;
        background-color: transparent;
        background-image: url(/img/jugar.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 50%;
        background-position-x: 50%;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        transition: all 2s;
        cursor: pointer;
        text-indent: -99999px;
    }

    #enviar:hover{
        transform:scale(150%);
    }
    
    


#bienvenida{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    margin-left: -200%;
    z-index: 20;
    opacity: 100%;
    /* background-color: red; */
}

    #bienvenida h1{
        color: white;
        font-size: 70px;
        text-shadow: 10px 10px 25px rgb(77, 217, 18),
                    -10px 10px 25px rgb(77, 217, 18),
                    -10px -10px 25px rgb(77, 217, 18),
                    10px -10px 25px rgb(77, 217, 18);  
    }

    #jugar{
        cursor: pointer;
        background-color: transparent;
        background-image: url(/img/jugar.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 50%;
        background-position-x: 50%;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        transition: all 2s;
        text-indent: -99999px;
        transition: all 1s;
    }

    #jugar:hover{
        transform: scale(200%);
    }

    #instrucciones{
        cursor: pointer;
        background-color: transparent;
        background-image: url(/img/jugar.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 50%;
        background-position-x: 50%;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        transition: all 2s;
        text-indent: -99999px;
        transition: all 1s;
    }

    #instrucciones:hover{
        transform: scale(200%);
    }

#NombreUsuario{
    position: absolute;
    height: 50vh;
    width: 60%;
    /* display: none; */
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#NombreUsuario h1{
    font-family: rock;
    color: white;
    margin-top: 0%;
    font-size: 150px;
}

#espacioN{
    position: absolute;
    /* background-color: blue; */
    font-size: 20px;
    bottom:20%;
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #usuario{
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
        width: 40%;
        height: 50%;
        color: white;
        font-family: rock;
        font-size: 50px;
        background-color: transparent;
        animation: glow .5s linear infinite alternate;
    }
    
    #enviar{
        cursor: pointer;
        background-color: transparent;
        background-image: url(/img/jugar.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 50%;
        background-position-x: 50%;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        transition: all 2s;
        text-indent: -99999px;
    }
    
    #enviar:hover{
        transform:scale(150%);
    }
    
    @keyframes glow {
        from{
            box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
        }
        
        to{
            box-shadow: 0px 0px 50px 20px rgb(255, 88, 205);
        }
    }

    
    @keyframes aparecerP {
        from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes botonJ{
    from{
        transform: rotate(30deg);
    }

    to{
        transform: rotate(-30deg)
    }
}

@keyframes aparecerJ {
    from{
        transform: scale(0%) ;
    }

    to{
        transform: scale(100%);
    }
}

@keyframes aparecer {
    from{
        transform: scale(500%) translateZ(-1000px);
    }

    to{
        transform: scale(100%) translateZ(0px);
    }
}

@keyframes opacidadTitulo {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}




/* NIVEL 1 */

#sincronizar{
    width: 15;
    height: 10vh;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 20;
    cursor: pointer;
    font-family: rock;
    color: rgb(0, 255, 42);
    font-size: 50px;
    
}

#Nivel1{
    position: absolute;
    z-index: 5;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    /* right: -100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BARRA DE PUNTOS */

#puntuación{
    position: absolute;
    z-index: 20;
    left: 4%;
    top: -5%;
    width: 25%;
    height: 35vh;
    /* background-color: red; */
    position: absolute;
    right: 12%;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    #puntos{
        /* position: absolute;
        top: 0%; */
        left: 0%;
        font-size: 30px;
        color: white;
        /* background-color: blue; */
    }

    #barra{
        border-radius: 10px;
        position: absolute;
        bottom: 0%;
        width: 90%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
    }
        #barra img{
            border-radius: 10px;
            width: 100%;
            height: 100%;
            filter: invert(100%);
        }

        progress {
            width: 100%;
            height: 100%;
            display: block;
            /* Important Thing */
            -webkit-appearance: none;
            border: none;
            position: absolute;
            z-index: -1;
        }
        
        progress::-webkit-progress-bar {
            background: black;
            border-radius: 10px;
            padding: 2px;
            box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2) inset;
        }
        
        progress::-webkit-progress-value {
            border-radius: 10px;
            box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
            background: red;
        }

/* YOU DRIVE ME CRAZY */
    #circulo1{
        position: absolute;
        left: 10%;
        animation: aparecerBola 1s 7s linear ;
    }
    #circulo2{
        position: absolute;
        left: 30%;
        animation: aparecerBola 1s 7.8s linear;
    }

    #circulo3{
        position: absolute;
        left: 50%;
        animation: aparecerBola 1s 8.6s linear ;
    }

/* SING IT! */

    #circulo4{
        position: absolute;
        left: 20%;
        animation: aparecerBola 1s 11.5s linear ;
    }

/* OH OH OH */

    #circulo5{
        position: absolute;
        left: 30%;
        animation: aparecerBola 1s 12s linear ;
    }

    #circulo6{
        position: absolute;
        left: 40%;
        animation: aparecerBola 1s 12.2s linear ;
    }
    
    #circulo7{
        position: absolute;
        left: 50%;
        animation: aparecerBola 1s 12.5s linear ;
    }
    
/* CRA-ZY */

    #circulo8{
        position: absolute;
        left: 70%;
        animation: aparecerBola 1s 13s linear ;
    }

    #circulo9{
        position: absolute;
        left: 80%;
        animation: aparecerBola 1s 13.5s linear ;
    }

/* YEAH YEAH YEAH */

#circulo10{
    position: absolute;
    left: 10%;
    animation: aparecerBola 1s 15.5s linear ;
}

#circulo11{
    position: absolute;
    left: 20%;
    animation: aparecerBola 1s 16s linear ;
}

#circulo12{
    position: absolute;
    left: 30%;
    animation: aparecerBola 1s 16.5s linear ;
}

/* UH, UH */


#deslizar{
    position: absolute;
    z-index: 15;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: desapareceDragable 1s 22s linear forwards ;
}

#dragable{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
    cursor: pointer;
    animation: aparecerBola 1s 17s linear backwards ;
}

#dropable{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
    cursor: pointer;
    animation: aparecerBola 1s 17s linear backwards ;
}

/* LOCURA */

#locura{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    transform: scale(0%);
    animation: boost 10s 25s linear,
                desaparecerL 5s 26s linear forwards;
}

    .circulos{
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 16;
        left:20%;
        transform: scale(0%);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
        cursor: pointer;
    }

/* YOU DRIVE ME */

#circulo13{
    position: absolute;
    left: 10%;
    animation: aparecerBola 1s 30s linear ;
}

#circulo14{
    position: absolute;
    left: 20%;
    animation: aparecerBola 1s 30.5s linear ;
}

#circulo15{
    position: absolute;
    left: 30%;
    animation: aparecerBola 1s 31s linear ;
}

/* CRAZY BA-BY */

#circulo16{
    position: absolute;
    left: 10%;
    animation: aparecerBola 1s 31.5s linear ;
}

#circulo17{
    position: absolute;
    left: 20%;
    animation: aparecerBola 1s 32s linear ;
}

#circulo18{
    position: absolute;
    left: 30%;
    animation: aparecerBola 1s 32.5s linear ;
}

#circulo19{
    position: absolute;
    left: 40%;
    animation: aparecerBola 1s 33s linear ;
}

/* DECORACION Y VIDEO */

#marco{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 15;
    opacity: 100%;
}

#marco img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 .1rem rgb(255, 0, 0));
}


#videoclip{
    height: 100vh;
    /* width: 100%; */
    position: absolute;
    animation: opacidad 2s 4s linear forwards,
                aparecerV 5s ease-in;
}

@keyframes desaparecerL {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

@keyframes boost {
    from{
        transform:scale(0%);
    }

    to{
        transform: scale(1000%);
    }
}

@keyframes aparecerV {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes desapareceDragable {
    from{
        
        transform: scale(100%);
    }

    to{
        transform: scale(0%);
    }
}

@keyframes opacidad {
    from{
        opacity: 100%;
    }

    to{
        opacity: 50%;
    }
}

@keyframes aparecerBola {
    from{
        transform: scale(0%);
    }
    to{
        transform: scale(100%);
    }
}
