
@font-face {
    font-family: rock ;
    src: url(/fonts/Rocks\ Personal\ Use.ttf);
}


body{
    margin: 0%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iniciar{
    width: 25%;
    height: 30%;
    position: absolute;
    bottom: 10%;
    z-index: 5;
    /* background-color: red; */
    animation: botonJ 1s linear alternate infinite,
                aparecerJ 1s 3s backwards ease-in;

}

#iniciar img{
    width: 100%;
    filter: drop-shadow(0 0 .9rem rgb(151, 5, 5));
    transition: 1s;
}

section{
    /* background-color: red; */
    margin-top: -10%;
    height: 100vh;
    width: 60%;
    position: relative;
}

#PORTADA{
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: aparecerP 5s ease-in backwards;
}

#cancionFondo{
    position: absolute;
    z-index: -1;
    opacity: 0%;
}

#B{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    /* opacity: 50%; */
    /* background-color: red; */
    filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
    animation: aparecer 1s cubic-bezier(.73,.19,.85,.21),
                opacidad 1s backwards cubic-bezier(1,.02,1,.24);
}

#G{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
    animation: aparecer 1s 1s cubic-bezier(.73,.19,.85,.21),
                opacidad 1s 1s backwards cubic-bezier(1,.02,1,.24);
}

#R{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    filter: drop-shadow(0 0 .5rem rgb(0, 0, 0));
    animation: aparecer 1s 2s cubic-bezier(.73,.19,.85,.21),
                opacidad 1s 2s backwards cubic-bezier(1,.02,1,.24);
}

#iniciar:hover img{
    transform: scale(120%);
    filter: drop-shadow(0 0 .6rem rgb(255, 0, 0));
}

#video{
    height: 100%;
    /* background-color: red; */
    z-index: -2;
    position: absolute;
}

#NombreUsuario{
    position: absolute;
    height: 50vh;
    width: 60%;
    /* display: none; */
    display: flex;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

    #NombreUsuario h1{
        font-family: rock;
        color: white;
        margin-top: 0%;
        font-size: 150px;
    }

    #espacioN{
        position: absolute;
        /* background-color: blue; */
        font-size: 20px;
        bottom:20%;
        width: 80%;
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #usuario{
        border: none;
        border-radius: 20px;
        padding-left: 10px;
        box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
        width: 40%;
        height: 50%;
        color: white;
        font-family: rock;
        font-size: 50px;
        background-color: transparent;
        animation: glow .5s linear infinite alternate;
    }

    #enviar{
        cursor: pointer;
        background-color: transparent;
        background-image: url(/img/jugar.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 50%;
        background-position-x: 50%;
        border: none;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        transition: all 2s;
        text-indent: -99999px;
    }

    #enviar:hover{
        transform:scale(150%);
    }

@keyframes glow {
    from{
        box-shadow: 0px 0px 30px 20px rgb(255, 0, 179);
    }

    to{
        box-shadow: 0px 0px 50px 20px rgb(255, 88, 205);
    }
}


@keyframes aparecerP {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes botonJ{
    from{
        transform: rotate(30deg);
    }

    to{
        transform: rotate(-30deg)
    }
}

@keyframes aparecerJ {
    from{
        transform: scale(0%) ;
    }

    to{
        transform: scale(100%);
    }
}

@keyframes aparecer {
    from{
        transform: scale(500%) translateZ(-1000px);
    }

    to{
        transform: scale(100%) translateZ(0px);
    }
}

@keyframes opacidad {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}